extends layout 
block content 
    .about-page
        img.about-logo(src="/images/logo.png")
        h1.company-name The Chatterbox
        .why 
            h2 Why The Chatterbox?
            p The chatterbox is a great way to connect with people. You can say about anything, and you can meet about anyone! In The Chatterbox, we aim to connect us humans, because as technology progresses, so does alone time. We make it easy here at The Chatterbox for everyone to talk! 
        .story
            h2 Our story 
            p We started when Shedeur B, our founder, just learned how to do back-end code. They didn't know what to make, so they just made a Twitter lite. This took weeks to make so please follow my 
                a(href="https://github.com/shedeurcoder") github.
        .source 
            h2 Source code 
            p Our source code is available to see on GitHub for free. Just go to 
                a(href="https://github.com/OfficialTheChatterbox") our GitHub
                span , and you can view our source code!