extends layout 
block content 
    h1 Terms of Service for The Chatterbox
    .code-of-conduct 
        h2 Code of Conduct 
        p The Code of Conduct for The Chatterbox is as follows
        ul 
            li No bullying 
            li No inappropriate behavior 
            li Be civil 
        h3 No bullying 
            p Mild bullying is okay, like teasing, but severe bullying, as in danger to one's mental health, will get one immediately removed from the platform.
        h3 No inappropriate behavior 
            p Don't break the law, kids.
        h3 Be Civil 
            p DO NOT TURN THIS THING INTO TWITTER. Just because we may be competing with Twitter, does not mean that this place accepts toxic, uncivil, and bad behavior. Argue not by leaking IP's and stuff. Just L + ratio instead of leaking private information.
    .data
        h2 Data protection 
        b DATA THE CHATTERBOX COLLECTS ABOUT YOU: 
        ul 
            li User information (password, email, username, etc.)
            li People you follow 
            li That's all.
        h3 Why we don't collect data 
            p We don't collect any data, besides important ones from you, due to the fact that we both don't know how, and I, Shedeur, think it's terrible. Instead, we feed you r a n d o m posts that we find.
        h3 Your email and what we do with it 
            p Your email is not used by us EXCEPT for contacting. Example, if an Admin ticket is too long, we can continue it on email 